<div class="container">
  <div class="row">
    <div>
      <div class="card">
        <div class="card-content">
          <form #formularioEmpleado="ngForm" (ngSubmit) = "addEmpleado(formularioEmpleado)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="empleadoService.seleccionarEmpleado._id">
            <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="empleadoService.seleccionarEmpleado.name" placeholder="Ingresa tu nombre">
                </div>
                <div class="input-field col s12">
                    <input type="text" name="position" #position="ngModel" [(ngModel)]="empleadoService.seleccionarEmpleado.position" placeholder="Ingresa tu posicion">
                </div>
                <div class="input-field col s12">
                    <input type="text" name="office" #office="ngModel" [(ngModel)]="empleadoService.seleccionarEmpleado.office" placeholder="Ingresa tu oficina">
                </div>
                <div class="input-field col s12">
                    <input type="text" name="salary" #office="ngModel" [(ngModel)]="empleadoService.seleccionarEmpleado.salary" placeholder="Ingresa tu salario">
                </div>
                <div class="card-action">
                    <div class="input-field col s12">
                        <button class="btn-large left" (click)="resetForm(formularioEmpleado)"><i class="material-icons left">delete</i>Borrar</button>
                        <button class="btn-large right"><i class="material-icons left">done</i>Guardar</button>
                    </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <table>
        <thead>
          <th>name</th>
          <th>posicion</th>
          <th>oficina</th>
          <th>operaciones</th>
        </thead>
        <tbody>
          <tr *ngFor= "let empleado of empleadoService.empleados">
            <td>{{ empleado.name }}</td>
            <td>{{ empleado.position }}</td>
            <td>{{ empleado.office }}</td>
            <td>
              <a (click)="editarEmpleado(empleado)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="borrarEmpleado(empleado._id)">
                  <i class="material-icons">delete_forever</i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>